@page "/student-announcement"
@model XeerLearn.Pages.Components.Student.AnnouncementModel
@using XeerLearn.Models.Auth;
@inject UserManager<XeerLearnUser> user
@{
    Layout = "_MainLayout";
    int key = 1;
}

<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Student</span> Announcements</h4>

 
@if (Model.alerts != null)
{
    @if (Model.alerts.Count() == 0)
    {
        <div class="card">
            <div class="card-body">
                <div class="card-title d-flex align-items-start">
                    <img align="center" src="~/blank.png" style="height:100px;" />
                </div>
            </div>
        </div>
    }
    @if (Model.alerts.Count() > 0)
    {
        <div class="row">
            <div class="col-md-12">        
            @foreach(var data in Model.alerts)
            {
                <div class="col-md-6 col-lg-4 mb-3">
                    <div class="card">
                        <h5 class="card-header">@data.Title</h5>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>
                                    @data.Description
                                </p>
                            </blockquote>
                        </div>
                    </div>
                </div>
            }
            </div>
        </div>
    }
}