@page "/ai-search"
@model XeerLearn.Pages.Components.Tutor.AISearchModel
@{
    Layout = "_MainLayout";
    const int key = 1;
}

<div class="card">
    <div class="card-body">
        @Model.response
    </div>
</div>
