@using XeerLearn.Models.Auth;
@inject UserManager<XeerLearnUser> _manager;
@{
    var user = await _manager.FindByEmailAsync(User.Identity.Name);
    var role = await _manager.GetRolesAsync(user);
}
<!DOCTYPE html>

<html
  lang="en"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>XeerLearn</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../assets/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="main/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="main/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="main/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="main/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="main/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    
    <!-- Page CSS -->
    <link rel="stylesheet" href="main/vendor/libs/apex-charts/apex-charts.css" />

    <!-- Helpers -->
    <script src="main/vendor/js/helpers.js"></script>
    <link rel="stylesheet" href="/richtexteditor/rte_theme_default.css" />
    <script type="text/javascript" src="/richtexteditor/rte.js"></script>
    <script type="text/javascript" src='/richtexteditor/plugins/all_plugins.js'></script>
    <script type="text/javascript" src="/rte-upload.js"></script>


    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="main/js/config.js"></script>
  </head>

  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
 
        <!-- Layout container -->
        <div class="layout-page">

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->
            <div class="container-xxl flex-grow-1 container-p-y">
                        @await Component.InvokeAsync("NToastNotify")
               @RenderBody()
            </div>
            
            <!-- / Content -->

            <!-- Footer -->
            <footer class="content-footer footer bg-footer-theme">
              <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                <div class="mb-2 mb-md-0">
                  ©
                  <script>
                    document.write(new Date().getFullYear());
                  </script>
                                XeerLearn
                </div>
                
              </div>
            </footer>
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->

   

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="main/vendor/libs/jquery/jquery.js"></script>
    <script src="main/vendor/libs/popper/popper.js"></script>
    <script src="main/vendor/js/bootstrap.js"></script>
    <script src="main/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/assets/js/quiz.js"></script>
    <script src="main/vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Main JS -->
    <script src="main/js/main.js"></script>

    <!-- Page JS -->
    <script src="main/vendor/libs/apex-charts/apexcharts.js"></script>
    <script src="main/js/dashboards-analytics.js"></script>
    <script>
        $(function () {
            var page = sessionStorage.getItem('page');
            var navbar = document.querySelectorAll('li');
            if (page == null) {
                $(navbar[0]).addClass('active');
            } else {
                navbar.forEach((item, index) => {
                    if (item.children[0].href == page) {
                        $(item).addClass('active').siblings().removeClass('active');
                    }
                });
            }
        })

        $(document).on('click', 'ul li', function () {
            var x = this.children[0].href;
            sessionStorage.setItem('page', x);
        });
    
    </script>
    <script>
        var div_savedhtml = document.getElementById("div_savedhtml");

        var editor1 = new RichTextEditor(document.getElementById("div_editor1"));
        editor1.setHTMLCode(div_savedhtml.innerHTML);
    </script>

</body>
</html>
